<div ng-controller="HomeController" class="container home-page">
  <div class="row home-page-wrapper">


    <h2>Poker room form</h2>
    <%= form_for @poker_room, url: {action: "create"}, html: {class: "poker-room-form", id: "poker-room-form"} do |f| %>
        <%= f.submit "Create Room", class: "btn btn-primary poker-room-button" %>
    <% end %>

  </div>
</div>
