<div ng-controller="PokerRoomController" class="container home-page">
  <div class="row home-page-wrapper">
    <h3>Poker Room number {{poker_room.id}}</h3>
    <h4>Your name is: <%= current_user %></h4>
    <div id="chat-log"></div>
    <div ng-repeat="log in logs">{{log}}</div>
    <div id="form">
      <input ng-model="userStory" type="text" enter-pressed="sendMessage('user_story' , userStory, poker_room.id)" id="message" class="form-control">

      <button ng-click="sendMessage('user_story', userStory, poker_room.id)" id="send" class="btn btn-primary">Send</button>

      <button ng-click="disconnect()" id="disconnect" class="btn btn-danger">Disconnect</button>
    </div>
  </div>
</div>
