<div ng-controller="PokerRoomController" class="container home-page">
  <div class="row home-page-wrapper">
    <pre>{{poker_room}}</pre>
    <h1>PokerRooms#show</h1>
    <p>Find me in app/views/poker_rooms/show.html.erb</p>
  </div>
</div>

