<div ng-if="visible" class="overlay-no-connection">
  <div class="overlay-message-wrapper">
    <div>
      <h1>OOPS, SOMETHING WENT WRONG.</h1>
      <h1>TRY AGAIN LATER.</h1>
    </div>
  </div>
</div>