<div ng-if="visible" class="overlay-no-connection">
  <div class="overlay-message-wrapper">
    <div class="overlay-message-inner-wrapper">
      <h1 class="overlay-message">OOPS, SOMETHING WENT WRONG.</h1>
      <h1 class="overlay-message">TRY AGAIN LATER.</h1>
    </div>
  </div>
</div>