<div ng-controller="HomeController" class="container home-page">
  <div class="row home-page-wrapper">

    <form id="create" class="poker-room-form">
      <div class="form-group field">
        <button ng-click="createPokerRoom()" class="btn btn-primary poker-room-button" id="create-room">Create Room</button>
      </div>
    </form>

  </div>
</div>
