/*
 *= require bootstrap/bootstrap
 *= require_tree .
 *= require_self
 */
.home-page{
  min-height: 400px;
  display: flex;
  align-items: center;
}
.home-page-wrapper{
  flex: 1;
}
.poker-room-button{
  font-weight: bolder;
  padding: 12px 23px;
  margin-top: 10px;
}
.black-layout{
  background-color: #101010;
  color: white;
}
.name-form{
  display: flex;
}
.name-input{
  flex: 1;
}
.name-button{
  margin-left: 10px;
}